<div class="acct-wrap">
  <button type="button" class="account-trigger" (click)="toggle()">
    <div class="acct-avatar">
      @if (getProfileImageUrl()) {
        <img [src]="getProfileImageUrl()!" [alt]="fullName()" />
      } @else {
        <span>
          {{ initials() }}
        </span>
      }
    </div>

    <span class="acct-name">
      {{ fullName() }}
    </span>
  </button>

  @if (open()) {
    <div class="acct-menu">
      <button type="button" class="acct-item" (click)="goTo('/profile')">
        {{ lang.t('my_profile') }}
      </button>

      <button type="button" class="acct-item" (click)="goToEditProfile()">
        {{ lang.t('edit_profile_link') }}
      </button>

      <button type="button" class="acct-item" (click)="goTo('/contact')">
        {{ lang.t('contact_us') }}
      </button>

      <button type="button" class="acct-item" (click)="goTo('/my-messages')">
        {{ lang.t('my_messages') }}
      </button>

      <div class="acct-divider"></div>

      <button type="button" class="acct-item acct-logout" (click)="logout()">
        {{ lang.t('logout') }}
      </button>
    </div>
  }
</div>
